.feed {
  list-style: none;
}

.feed li:not(:last-child) {
  margin-bottom: 32px;
}

.feed img {
  transform: translateX(-50%);
  opacity: 0;
  transition: all 500ms linear 500ms;
  width: 640px;
  height: 480px;
  object-fit: cover;
}

.feed img.appear {
  transform: translateX(0);
  opacity: 1;
}

.return {
  display: block;
  margin-bottom: 30px;
}
